@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

